body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 2rem;
    overflow-x: hidden;
}
  
.sobreContainer{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
  
.parallax { 
    /* The image used 
    background-image: url("img_parallax.jpg");*/

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nav{
    list-style: none;  
}
  
#nav li{
    display: inline-block;
    font-weight: bold;
}
  
#carousel{
    padding-top: 5rem;
}

header{
    padding-top: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

footer{
    background-color: darkcyan;
    color: white;
    padding: 2rem 10rem;
}